.fb {
    font-weight: 600;
}
.tc {
    text-align: center;
}
.tal {
  text-align: left;
  padding-left: 5px;
}
.tar {
    text-align: right;
}
.m8 {
    margin: 8px 8px;
}
.option-tr {
  font-weight: 600;
  cursor: pointer;
}

.attch {
  font-size: 9px;
  font-weight: 600;
  color: red;
  animation: blinker 1.5s linear infinite;
}@keyframes blinker {
  50% { opacity: 0; }
}

.option-span {
  margin: 0 4px;
}
#distributor_loader {
  border: 1px solid #ced4da;
  height: 35px;
  border-radius: 5px;
}
#stockiest_loader {
  border: 1px solid #ced4da;
  height: 35px;
  border-radius: 5px;
}

/* Table style for the page */
.mytable {
    overflow-x:scroll;
    overflow-y:scroll;
    flex-grow:1;
    width:100%;
    max-height: 400px;
  }
  
  table {
    border-collapse: collapse;
    width:180%;
    font-size: 12px;
    text-align: center;
  }
  
  thead tr > th {
    background:#EFEFEF;
    position: sticky;
    z-index:2;
    top: 0;
    border: dashed 1px lightblue;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    height: 30px;
  }
  
  /* thead tr > :first-child {
    z-index:3;
    left:0;
    top:0;
  } */
  
  thead tr > :nth-child(2) {
    z-index:3;
    left:0;
    top:0;
  }
  
  td {
    text-align:center;
    letter-spacing: 0.5px;
    font-size: 14px;
    border: dashed 1px lightblue;
    padding-left: 2px;
  }
  
  /* tbody tr > :first-child {
    background:#ffffff;
    position: sticky;
    z-index:1;
    left:0;
  } */
  tbody tr > :nth-child(2) {
    background:#ffffff;
    position: sticky;
    z-index:1;
    left:0;
  }
/* EOF Table style for the page */


