<div class="main-card mb-3 card" *ngIf="sessionData.type == 'ho'">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize fw-normal">
      Distributor/Stockist Claim Posted
    </div>
  </div>
  <div *ngIf="!messages.length" class="table-responsive" style="text-align: center; color: red; height: 40px; padding-top: 10px;">
    No Record Found!
  </div>
  <div *ngIf="messages.length" class="table-responsive" style="overflow-y: auto; max-height: 440px;">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Distributor</th>
          <th>Stockist</th>
          <th class="text-center">Claim Date</th>
          <th class="text-center">Submitted On</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages; let i=index">
          <td class="text-center text-muted" style="width: 80px;">{{i+1}}</td>
          <td>
            <span *ngIf="message.distName[0].organization">{{message.distName[0].organization}}</span>
          </td>
          <td>
            <span *ngIf="message.stockName[0].organization">{{message.stockName[0].organization}}</span>
          </td>
          <td class="text-center">
            <a *ngIf="message.claimMonth < 10" [routerLink]="['stockiest/claims', message.distributorId, message.stockistId, message.claimMonth, message.claimYear]">0{{message.claimMonth}}-{{message.claimYear}}</a>
            <a *ngIf="message.claimMonth > 9" [routerLink]="['stockiest/claims', message.distributorId, message.stockistId, message.claimMonth, message.claimYear]">{{message.claimMonth}}-{{message.claimYear}}</a>
          </td>
          <td class="text-center" style="width: 200px;">
            {{message.createdAt | date:'dd-MM-YYYY'}}
          </td>
          <td class="text-center">
            <div *ngIf="message.status == 0" class="badge rounded-pill bg-warning">In Progress</div>
            <div *ngIf="message.status == 1" class="badge rounded-pill bg-success">Completed</div>
          </td>
          <td class="text-center">
            <img src="./../../../../assets/images/tick-mark.png" alt="Mark as Completed" title="Mark as Completed"
              style="width: 18px; cursor: pointer; margin: 0 3px;" (click)="completed(message._id)">

            <img src="./../../../../assets/images/processing-time.png" alt="Mark as In Progress" title="Mark as In Progress"
              style="width: 18px; cursor: pointer; margin: 0 3px;" (click)="inprogress(message._id)">

            <!-- <img src="./../../../../assets/images/unread-message.png" alt="Mark as Unread" title="Mark as Unread" style="width: 18px; cursor: pointer; margin: 0 2px;">
            <img src="./../../../../assets/images/delete.png" alt="Delete" title="Delete" style="width: 17px; cursor: pointer; margin: 0 2px;"> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="row">
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-warning border-warning">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{commercialAsset}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Commercial / Office Estates</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-success border-success">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{residentialAsset}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Total Residential Flats</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-primary border-primary">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{occupiedFlats}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Occupied Residential Flats</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-info border-info">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{vacantFlats}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Vacant Residential Flats</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize fw-normal">Things to Note</div>
    <div style="color: #cccccc; font-size: 12px;">Claim submitted by the stockiest.</div>
  </div>
  <div class="table-responsive" style="max-height: 410px;">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-center" style="width: 5%;">#</th>
          <th>Stockiest</th>
          <th class="text-center" style="width: 15%;">Submit Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center text-muted" style="width: 5%;">
            1.
          </td>
          <td>
            <span class="dash-desc">Saisun Pharma Pvt. Ltd. (Gzb)</span>
          </td>
          <td class="text-center">
            15-05-2023
          </td>
        </tr>

        <tr>
          <td class="text-center text-muted">
            2.
          </td>
          <td>
            <span class="dash-desc">Saisun Pharma Pvt. Ltd. (Gzb)</span>
          </td>
          <td class="text-center">
            15-05-2023
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="me-2 opacity-7">
        <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="me-1">View All</span>
    </button>
  </div>
</div> -->