<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->

<style>
  .blink {
      animation: blinker 1.5s linear infinite;
      color: red;
      font-family: sans-serif;
  }
  @keyframes blinker {
      50% {
          opacity: 0;
      }
  }
</style>

<!-- <div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="row">
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-warning border-warning">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{commercialAsset}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Commercial / Office Estates</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-success border-success">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{residentialAsset}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Total Residential Flats</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-primary border-primary">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{occupiedFlats}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Occupied Residential Flats</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 widget-chart widget-chart2 text-start card-btm-border card-shadow-info border-info">
          <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content pt-3 ps-3 pb-1">
              <div class="widget-chart-flex">
                <div class="widget-numbers">
                  <div class="widget-chart-flex">
                    <div class="fsize-4">
                      <span>{{vacantFlats}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="widget-subheading mb-0 opacity-5">Vacant Residential Flats</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize fw-normal">Things to Note</div>
    <div style="color: #cccccc; font-size: 12px;">Claim submitted by the stockiest.</div>
  </div>
  <div class="table-responsive" style="max-height: 410px;">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-center" style="width: 5%;">#</th>
          <th>Stockiest</th>
          <th class="text-center" style="width: 15%;">Submit Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center text-muted" style="width: 5%;">
            1.
          </td>
          <td>
            <span class="dash-desc">Saisun Pharma Pvt. Ltd. (Gzb)</span>
          </td>
          <td class="text-center">
            15-05-2023
          </td>
        </tr>

        <tr>
          <td class="text-center text-muted">
            2.
          </td>
          <td>
            <span class="dash-desc">Saisun Pharma Pvt. Ltd. (Gzb)</span>
          </td>
          <td class="text-center">
            15-05-2023
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="me-2 opacity-7">
        <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="me-1">View All</span>
    </button>
  </div>
</div> -->