<div class="app-page-title">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div class="page-title-icon">
				<i class="icon {{icon}}"></i>
			</div>
			<div>
				{{heading}}
				<div class="page-title-subheading">
					{{subheading}}
				</div>
			</div>
		</div>
		<div class="page-title-actions" *ngIf="sessionData.permissions.includes('16')">
			<button type="button" (click)="exportToExcel()"
				class="btn-shadow d-inline-flex align-items-center btn btn-success">
				<fa-icon [icon]="faPlus" class="me-2"></fa-icon>
				Download
			</button>
		</div>
	</div>
</div>

<div class="main-card mb-3 card">
	<div class="card-body">
		<div class="row">
			<div class="col">
				<label for="division" class="form-label fb">Division
					<!-- <span id="divisionCode" style="color: orange; font-size: 12px;">
						<span *ngIf="selectedFields.division == 0">(All)</span>
						<span *ngIf="selectedFields.division">({{selectedFields.division}})</span>
					</span> -->
				</label>
				<ng-select class="custom" id="division" [(ngModel)]="selectedFields.division"
					(change)="filterData($event, 'division')" [clearable]="false" placeholder="Select Division">
					<ng-option [value]="0"> -- All -- </ng-option>
					<ng-option *ngFor="let division of divisions" [value]="division.division">
						{{division.name | titlecase}}
					</ng-option>
				</ng-select>
			</div>

			<div class="col">
				<label for="material" class="form-label fb">
					Material
					<!-- <span *ngIf="selectedFields.material" style="color: orange; font-size: 12px;">
						<span *ngIf="selectedFields.material == 0">(All)</span>
						<span *ngIf="selectedFields.material > 0">({{selectedFields.material}})</span>
					</span> -->
				</label>
				<ng-select class="custom" id="material" [(ngModel)]="selectedFields.materialName"
					(change)="filterData($event, 'material')" [clearable]="false" placeholder="Select Material">
					<ng-option [value]="0"> -- All -- </ng-option>
					<ng-option *ngFor="let material of uniqueProducts" [value]="material.materialName">
						{{material.materialName}}
					</ng-option>
				</ng-select>
				<div id="material_loader">
					<img class="m8" src="./../../../assets/images/btn_loader.gif">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"><hr /></div>
			<div *ngIf="loading" class="col-md-12 tc" style="color: red; text-align: center;">
				<img src="./../../assets/images/btn_loader.gif"> <br /> Loading... Please wait
			</div>
		</div>

		<table *ngIf="records.length" class="row-border hover">
			<thead>
				<tr>
					<th class="border-right" style="width: 6%;">S.No.</th>
					<th class="border-right" style="width: 10%;">Plant</th>
					<th class="border-right" style="width: 15%;">Material</th>
					<th class="border-right" style="text-align: left; padding-left: 8px;">Material Description</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-bottom" style="height: 35px;" *ngFor="let record of records; let i=index">
					<td class="border-right">{{i+1}}</td>
					<td class="border-right">{{record.plant}}</td>
					<td class="border-right">{{record.material}}</td>
					<td class="border-right" style="text-align: left; padding-left: 8px;">{{record.materialName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
