<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading" style="width: 50%;">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-heading" style="width: 50%;">
      <div class="tc" id="headLoader"
        style="display: none; font-size: 14px; font-weight: 600; color: #FF0013; letter-spacing: 1px;">
        <img src="./../../../assets/images/btn_loader.gif" /><br />
        Processing... Please wait!
      </div>
    </div>
  </div>
</div>

<div id="pageLoader"
  style="position: absolute; width: 100%; height: 100%; background-color: #F1F4F6; z-index: 1; opacity: 0.5; display: none;">
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <!-- <div class="row row-cols-5"> -->
    <div class="row">
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="distributor" class="form-label fb">Distributor</label>
          <select id="distributor" class="form-select" (change)="filterData($event)" style="display: none;">
            <option value="" disabled hidden selected> -- Distributor -- </option>
            <option *ngFor="let distributor of userDistributors" [value]="distributor.plant">
              {{distributor.plant}} - {{distributor.organization | titlecase}}
            </option>
          </select>
          <span id="err_distributor" class="text-danger" style="display: none;"></span>
          <div id="distributor_loader">
            <img class="m8" src="./../../../assets/images/btn_loader.gif">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="stockiest" class="form-label fb">
            Stockiest
            <span *ngIf="selectedFields.stockiest" style="color: orange; font-size: 12px;">
              ({{selectedFields.stockiest}})
            </span>
          </label>
          <select id="stockiest" class="form-select" style="display: none;" (change)="filterData($event)">
            <option value="" disabled hidden selected> -- Stockiest -- </option>
            <option *ngFor="let stockiest of stockiests" [value]="stockiest.customerId">
              {{stockiest.organization | titlecase}}
            </option>
          </select>
          <span id="err_stockiest" class="text-danger" style="display: none;"></span>
          <div id="stockiest_loader">
            <img class="m8" src="./../../../assets/images/btn_loader.gif">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="type" class="form-label fb">Claim Type</label>
          <select id="type" class="form-select" (change)="filterData($event)">
            <option value="" selected> -- All -- </option>
            <option *ngFor="let type of types" [value]="type.id">
              {{type.name | titlecase}}
            </option>
          </select>
          <span id="err_type" class="text-danger" style="display: none;"></span>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="division" class="form-label fb">Division
            <span id="divisionCode" style="color: orange; font-size: 12px;"></span>
          </label>
          <select id="division" class="form-select" (change)="filterData($event)">
            <option value="" selected> -- All -- </option>
            <option *ngFor="let division of divisions" [value]="division.division">
              {{division.name | titlecase}}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="month" class="form-label fb">Month</label>
          <select id="month" class="form-select" (change)="validateMonth($event)">
            <option value="" disabled selected> -- Month -- </option>
            <option *ngFor="let month of months" [value]="month.id">
              {{month.name}}
            </option>
          </select>
          <span id="err_month" class="text-danger" style="display: none;"></span>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="year" class="form-label fb">Year</label>
          <select id="year" class="form-select" (change)="validateMonth($event)">
            <option value="" disabled selected> -- Year -- </option>
            <option *ngFor="let year of years" [value]="year.id">
              {{year.name}}
            </option>
          </select>
          <span id="err_year" class="text-danger" style="display: none;"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr />
      </div>
      <div *ngIf="loading" class="col-md-12 tc" style="color: red;">
        <img src="./../../assets/images/btn_loader.gif"> <br /> Loading...Please wait
      </div>
      <div *ngIf="!showData" class="col-md-12 tc" style="color: red;">
        No record found!
      </div>
    </div>

    <div class="row" *ngIf="!loading && showData">
      <div class="col-sm-12 col-md-12">
        <div class="table-responsive">
          <table class="table" id="table1">
            <tr>
              <th class="td-head">SNo.</th>
              <th class="td-head">Status</th>
              <th class="td-head">Attachment</th>
              <th class="td-head">Claim Type</th>
              <th class="td-head">Ref. No.</th>
              <th class="td-head">Division</th>
              <th class="td-head">Product</th>
              <th class="td-head">Material</th>
              <th class="td-head">Batch</th>
              <th class="td-head">MRP</th>
              <th class="td-head">PTS</th>
              <th class="td-head">Billing Rate</th>
              <!-- <th class="td-head">Margin</th> -->
              <th class="td-head">Free QTY</th>
              <th class="td-head">Sale QTY</th>
              <th class="td-head">Difference</th>
              <th class="td-head">Total Diff.</th>
              <th class="td-head">Amount</th>
              <th class="td-head">Actions</th>
            </tr>
            <tr class="border-bottom tc" style="height: 35px;" *ngFor="let record of tempRecords; let i=index">
              <td class="border-right tc">{{i + 1}}</td>
              <td class="border-right tc">
                <!-- <div *ngIf="record.isFoApproved" id="def_approvedIcon_{{record._id}}" title="Approved"
                  class="wpseo-score-icon good"></div>
                <div *ngIf="record.isFoUnapproved" id="def_unapprovedIcon_{{record._id}}" title="Un-Approved"
                  class="wpseo-score-icon bad"></div>

                <div id="approvedIcon_{{record._id}}" title="Approved" class="wpseo-score-icon good"
                  style="display: none;"></div>
                <div id="unapprovedIcon_{{record._id}}" title="Un-Approved" class="wpseo-score-icon bad"
                  style="display: none;"></div> -->


                <i *ngIf="record.isFoApproved" id="def_approvedIcon_{{record._id}}" title="Accepted"
                  class="pe-7s-check icon-gradient bg-grow-early-np npicon"></i>
                <i *ngIf="record.isFoUnapproved" id="def_unapprovedIcon_{{record._id}}" title="Rejected"
                  class="pe-7s-check icon-gradient bg-ripe-malin-np npicon"></i>

                <i id="approvedIcon_{{record._id}}" title="Accepted"
                  class="pe-7s-check icon-gradient bg-grow-early-np npicon" style="display: none;"></i>
                <i id="unapprovedIcon_{{record._id}}" title="Rejected"
                  class="pe-7s-check icon-gradient bg-ripe-malin-np npicon" style="display: none;"></i>

                <!-- <i title="star" class="pe-7s-star icon-gradient bg-grow-early-np npicon"></i>
                <i title="star" class="pe-7s-star icon-gradient bg-ripe-malin-np npicon"></i> -->
              </td>
              <td class="border-right">
                <div *ngIf="record.files">
                  <span *ngFor="let fn of record.files" style="margin:0 2px;">
                    <i class="pe-7s-paperclip fb" placement="bottom" ngbTooltip="{{fn.originalFilename}}"
                      (click)="viewPopup(details, fn, record.invoice, record._id)"></i>
                  </span>
                </div>
              </td>
              <td class="border-right tc">{{record.claimType | titlecase}}</td>
              <td class="border-right tc">{{record.invoice}}</td>
              <td class="border-right tal">{{record.divisionName | titlecase}}</td>
              <td class="border-right tal">{{record.materialName | titlecase}}</td>
              <td class="border-right tc">{{record.batchDetail[0].material}}</td>
              <td class="border-right tc">{{record.batch}}</td>
              <td class="border-right tc">{{record.mrp | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.pts | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.billingRate | number : '1.2-2'}}</td>
              <!-- <td class="border-right tc">{{record.margin}}</td> -->
              <td class="border-right tc">{{record.freeQuantity | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.saleQuantity}}</td>
              <td class="border-right tc">{{record.difference | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.totalDifference | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.amount | number : '1.2-2'}}</td>

              <td class="tc">
                <span class="option-icon pe-7s-check iconpe_green" title="Accept"
                  (click)="validateFoApproval(record, 'Approve')"></span>
                <span class="option-icon pe-7s-close-circle iconpe_red" title="Reject"
                  (click)="validateFoApproval(record, 'Unapprove')"></span>
                <span class="option-icon pe-7s-edit iconpe_blue" title="Edit" (click)="editRecord(record)"></span>
                <span class="option-icon pe-7s-global iconpe_purp" title="Cancel"
                  (click)="validateFoApproval(record, 'Cancel')"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- TO show total records on the bottom of the page -->
    <div *ngIf="!loading && showData" class="row" style="margin-top: 15px;">
      <div class="col-md-6" style="padding-top: 10px; font-weight: 600;">
        Records: {{tempRecords.length}}
      </div>
    </div>

    <!-- View image popup -->
    <ng-template #details let-c="close" let-d="dismiss" style="width: 1000px;">
      <div class="modal-header">
        <h4 class="modal-title">Attachment of invoice `{{clickedFile.invoice}}`</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 tc" style="min-height: 200px;">
            <pdf-viewer *ngIf="pdfSource" [src]="pdfSource" [original-size]="false"></pdf-viewer>
            <img *ngIf="!pdfSource" src="{{apiURL}}/uploads/files/{{clickedFile.filename}}" style="max-width: 100%;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="mt-1 btn btn-warning" (click)="newTab(clickedFile)" style="padding: 6px 30px;">Open
          in new tab</button>

        <button type="button" class="mt-1 btn btn-danger" (click)="confirmBoxDeleteFile(clickedFile)"
          style="padding: 6px 30px;">Delete</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')"
          style="padding: 6px 30px;">Close</button>
      </div>
    </ng-template>

    <!-- Upload image popup -->
    <ng-template #uploads let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Upload on invoice</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 tc">
            <input type="file" class="file-input" [accept]="requiredFileType"
              (change)="onFileSelected($event, uploadFile)" #fileUpload multiple>
            <!-- <button type="button" class="btn-transition btn btn-outline-focus" (click)="fileUpload.click()"
              [tabIndex]="9">Attach File</button> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="mt-1 btn btn-success" (click)="confirmBoxDeleteFile(clickedFile)"
          style="padding: 6px 30px;">Upload</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')"
          style="padding: 6px 30px;">Close</button>
      </div>
    </ng-template>

    <!-- Invoice allocation popup -->
    <div class="modal" tabindex="-1" role="dialog" style="display:{{displayStyle}}">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 755px; margin:auto;">
          <div class="modal-header">
            <h4 class="modal-title">Invoice/Quantity Status</h4>
          </div>
          <div class="modal-body">
            <!-- <p style="text-align: center; letter-spacing: 0.5px;">
              <b>80</b> out of <b>100</b> quantities are being allotted.
            </p> -->
            <table style="width: 720px; overflow-x: auto;">
              <tr style="font-weight: 600; height: 50px;">
                <td class="tc" style="width: 120px;">Distributor<br>Invoice No.</td>
                <td class="tc" style="width: 120px;">Distributor<br>Invoice QTY.</td>
                <td class="tc" style="width: 120px;">Stockiest<br>Invoice No.</td>
                <td class="tc" style="width: 120px;">Stockiest<br>Invoice QTY.</td>
                <td class="tc" style="width: 120px;">Stockiest Remn.<br>Invoice QTY.</td>
                <td class="tc" style="width: 120px;">Total Sale QTY.</td>
              </tr>
              <tr *ngFor="let allotment of allotedInvoiceQty" style="height: 30px;">
                <td class="tc">{{allotedHoInvoiceQty[0].billDocNumber}}</td>
                <td class="tc">{{allotedHoInvoiceQty[0].salesQty}}</td>
                <td class="tc">{{allotment.stkInvoice}}</td>
                <td class="tc">{{allotment.stkInvoiceQty}}</td>
                <td class="tc">{{allotment.stkRemnQty}}</td>
                <td class="tc">{{allotment.totalSaleQuantity}}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="approve()"> Approve </button>
            <button type="button" class="btn btn-danger" (click)="closePopup()"> Close </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Update Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Update Claim</h2>
          <span class="close" (click)="closeEditModal()">&times;</span>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_distributor" class="form-label fb">Distributor</label>
                <select id="edit_distributor" class="form-select" (change)="getStockiest_edit()">
                  <option value="" disabled hidden selected> -- Distributor -- </option>
                  <option *ngFor="let distributor of userDistributors" [value]="distributor.plant">
                    {{distributor.plant}} - {{distributor.organization | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_stockiest" class="form-label fb">Stockiest</label>
                <select id="edit_stockiest" class="form-select" [tabIndex]="1" (change)="validateClaim()">
                  <option value="" disabled hidden selected> -- Stockiest -- </option>
                  <option *ngFor="let stockiest of stockiests" [value]="stockiest.customerId">
                    {{stockiest.organization | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_type" class="form-label fb">Claim Type</label>
                <select id="edit_type" class="form-select" [tabIndex]="2" (change)="validateClaim()">
                  <option value="" disabled selected> -- Claim Type -- </option>
                  <option *ngFor="let type of types" [value]="type.id">
                    {{type.name | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_month" class="form-label fb">Month</label>
                <select id="edit_month" class="form-select" [tabIndex]="3" (change)="validateClaim()">
                  <option value="" disabled selected> -- Month -- </option>
                  <option *ngFor="let month of months" [value]="month.id">
                    {{month.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_year" class="form-label fb">Year</label>
                <select id="edit_year" class="form-select" [tabIndex]="4" (change)="validateClaim()">
                  <option value="" disabled selected> -- Year -- </option>
                  <option *ngFor="let year of years" [value]="year.id">
                    {{year.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table" id="table1">
              <tr>
                <th class="td-head">Ref. No.</th>
                <th class="td-head">Division</th>
                <th class="td-head">Product</th>
                <!-- <th class="td-head">Material</th> -->
                <th class="td-head">Batch</th>
                <th class="td-head">MRP</th>
                <th class="td-head">PTS</th>
                <!-- <th class="td-head">Margin</th> -->
                <th class="td-head">Billing Rate</th>
                <th class="td-head">Free QTY</th>
                <th class="td-head">Sale QTY</th>
                <th class="td-head">Difference</th>
                <th class="td-head">Total Diff.</th>
                <th class="td-head">Amount</th>
              </tr>
              <tr>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_invoice" [tabIndex]="5"
                    (change)="validateClaim()" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_division" (keyup)="searchDivision($event)" />
                  <img style="float:right;" id="edit_division_loader" src="./../../../assets/images/btn_loader.gif"
                    style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                  <div class="suggestions" id="edit_division_suggestion" (click)="divisionSelection($event)"
                    style="display: none;">
                    <ul></ul>
                  </div>

                  <input type="hidden" id="edit_division_id" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_product" (keyup)="searchProduct($event)" />
                  <img style="float:right;" id="edit_product_loader" src="./../../../assets/images/btn_loader.gif"
                    style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                  <div class="suggestions" id="edit_product_suggestion" (click)="productSelection($event)"
                    style="left: 18%; display: none;">
                    <ul></ul>
                  </div>

                  <input type="hidden" id="edit_material" />
                </td>
                <!-- <td>
                  <input type="text" class="form-control grf-am" id="edit_material" disabled />
                </td> -->
                <td>
                  <input type="text" class="form-control grf-am" id="edit_batch" [tabIndex]="6"
                    (keyup)="searchBatch($event)" autocomplete="off" />

                  <img style="float:right;" id="edit_batch_loader" src="./../../../assets/images/btn_loader.gif"
                    style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                  <div class="suggestions" id="edit_batch_suggestion" (click)="batchSelection($event)"
                    style="left: 26%; display: none;">
                    <ul></ul>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_mrp" disabled />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_pts" disabled />
                  <input type="hidden" class="form-control grf-am" id="edit_ptr" />
                  <input type="hidden" class="form-control grf-am" id="edit_ptd" />
                  <input type="hidden" class="form-control grf-am" id="edit_margin" />
                </td>
                <!-- <td>
                  <input type="text" class="form-control grf-am" id="edit_margin" [tabIndex]="8"
                    (keyup)="changeCalculation($event)" />
                </td> -->
                <td>
                  <input type="text" class="form-control grf-am" id="edit_billingRate" [tabIndex]="7"
                    (keyup)="changeCalculation($event)" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_freeQuantity" [tabIndex]="9"
                    (keyup)="changeCalculation($event)" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_saleQuantity" [tabIndex]="10"
                    (keyup)="changeCalculation($event)" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_difference" disabled />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_totalDifference" disabled />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_amount" [tabIndex]="11" disabled />
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <input type="hidden" class="form-control" id="edit_id" value="" />
          <input type="hidden" class="form-control grf-am" id="edit_error" value="0" />
          <button type="button" class="btn btn-success" [tabIndex]="12" (click)="updateClaim()"> Update </button>
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeEditModal()"> Close </button>
        </div>
      </div>
    </div>

    <!-- Comment/Reason for unapproved popup -->
    <div id="myModalComment" class="modal">
      <div class="modal-content" style="width: 380px; margin:auto;">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Reason for rejection</h2>
          <span class="close" (click)="closeCommentModal()">&times;</span>
        </div>
        <div class="modal-body" style="padding-top: 22px;">
          <div class="row">
            <div class="col-md-12">
              <div class="position-relative mb-3 required">
                <!-- <label for="edit_stockiest" class="form-label fb">Stockiest</label> -->
                <textarea id="comments" name="comments" rows="4" cols="50"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <button type="button" class="btn btn-success" [tabIndex]="12" (click)="rejectClaim()"> Submit </button>
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeCommentModal()"> Close </button>
        </div>
      </div>
    </div>

    <!-- Comment/Reason for update popup -->
    <div id="updateModalComment" class="modal">
      <div class="modal-content" style="width: 380px; margin:auto;">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Reason for update</h2>
          <span class="close" (click)="closeUpdateCommentModal()">&times;</span>
        </div>
        <div class="modal-body" style="padding-top: 22px;">
          <div class="row">
            <div class="col-md-12">
              <div class="position-relative mb-3 required">
                <textarea id="update_comments" name="update_comments" rows="4" cols="50"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <button type="button" class="btn btn-success" [tabIndex]="12" (click)="updateCommentClaim()"> Update Now
          </button>
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeUpdateCommentModal()"> Close
          </button>
        </div>
      </div>
    </div>