<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <label for="distributor" class="form-label fb">Distributor</label>
        <ng-select class="custom" id="distributor" [(ngModel)]="selectedFields.distributor" (change)="getStockiest()"
          [clearable]="false" style="display: none;">
          <ng-option *ngFor="let distributor of userDistributors" [value]="distributor.plant">
            {{distributor.plant}} - {{distributor.organization | titlecase}}
          </ng-option>
        </ng-select>
        <span id="err_distributor" class="text-danger" style="display: none;"></span>
        <div class="ng_loader" id="distributor_loader">
          <img src="./../../../assets/images/btn_loader.gif">
        </div>
      </div>

      <div class="col">
        <label for="stockiest" class="form-label fb">
          Stockist
          <span *ngIf="selectedFields.stockiest" style="color: orange; font-size: 12px;">
            <span *ngIf="selectedFields.stockiest == 1">(Self)</span>
            <span *ngIf="selectedFields.stockiest != 1">({{selectedFields.stockiest}})</span>
          </span>
        </label>
        <ng-select class="custom" id="stockiest" [(ngModel)]="selectedFields.stockiest"
          (change)="clearTempClaim($event,'stockiest')" [clearable]="false" style="display: none;">
          <ng-option *ngFor="let stockiest of stockiests" [value]="stockiest.customerId">
            {{stockiest.organization | titlecase}}
          </ng-option>
        </ng-select>
        <span id="err_stockiest" class="text-danger" style="display: none;"></span>
        <div class="ng_loader" id="stockiest_loader">
          <img src="./../../../assets/images/btn_loader.gif">
        </div>
      </div>

      <div class="col">
        <label for="type" class="form-label fb">Claim Type</label>
        <ng-select class="custom" id="type" [(ngModel)]="selectedFields.type" [clearable]="false"
          (change)="changeType($event,'type')">
          <!-- <ng-option [value]="0"> -- All -- </ng-option> -->
          <ng-option *ngFor="let type of types" [value]="type.id">{{type.name | titlecase}}</ng-option>
        </ng-select>
        <span id="err_type" class="text-danger" style="display: none;"></span>
      </div>

      <div class="col">
        <label for="month" class="form-label fb">Month</label>
        <ng-select class="custom" id="month" [(ngModel)]="selectedFields.month"
          (change)="validateMonth($event, 'month')" [clearable]="false">
          <ng-option *ngFor="let month of months" [value]="month.id">{{month.name}}</ng-option>
        </ng-select>
        <span id="err_month" class="text-danger" style="display: none;"></span>
      </div>

      <div class="col">
        <label for="year" class="form-label fb">Year</label>
        <ng-select class="custom" id="year" [(ngModel)]="selectedFields.year" (change)="validateMonth($event, 'year')"
          [clearable]="false">
          <ng-option *ngFor="let year of years" [value]="year.id">{{year.name}}</ng-option>
        </ng-select>
        <span id="err_year" class="text-danger" style="display: none;"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr />
      </div>
    </div>

    <form class="form" [formGroup]="myform" (ngSubmit)="onSubmit()" autocomplete="off" enctype="multipart/form-data">
      <div class="row" style="overflow: auto;">
        <table class="row-border hover">
          <tr>
            <td>
              <div style="width: 1418px;">
                <div class="td-head" style="width: 99px;">Invoice No</div>
                <div class="td-head" style="width: 132px;">Division</div>
                <div class="td-head" style="width: 153px;">Product</div>
                <div class="td-head" style="width: 124px;">Batch</div>
                <div class="td-head" style="width: 88px;">MRP</div>
                <div class="td-head" style="width: 88px;">PTS</div>
                <div class="td-head" style="width: 88px;">Billing Rate</div>
                <div class="td-head" style="width: 88px;">Free QTY</div>
                <div class="td-head" style="width: 88px;">Sale QTY</div>
                <div class="td-head" style="width: 88px;">Difference</div>
                <div class="td-head" style="width: 88px;">Total Diff.</div>
                <div class="td-head" style="width: 88px;">Amount</div>
                <div class="td-head" style="width: 60px;">Upload</div>
                <div class="td-head" style="width: 85px;">Attachments</div>
                <div class="td-head" style="width: 60px;">Action</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 100%;">
                <div formArrayName="claims" style="overflow-y: auto; max-height: 450px;">
                  <tr *ngFor="let claim of claims().controls; let i=index" [formGroupName]="i">
                    <td>
                      <input type="text" id="invoice_{{i}}" formControlName="invoice" [(ngModel)]="formItems.invoice[i]"
                        class="form-control" style="width: 95px;" />
                    </td>
                    <td>
                      <ng-select [items]="divisions" id="division_{{i}}" formControlName="division" bindLabel="name"
                        bindValue="name" [closeOnSelect]="true" [clearable]="false" [(ngModel)]="formItems.division[i]"
                        placeholder="Division" appendTo="body" style="width: 130px;" (change)="searchProduct($event, i)"
                        class="ngscustom">
                        <ng-option *ngFor="let division of divisions" [value]="division.division">
                          {{division.name}}
                        </ng-option>
                      </ng-select>

                      <input type="hidden" formControlName="divisionId" [(ngModel)]="formItems.divisionId[i]" />
                    </td>
                    <td>
                      <ng-select *ngIf="!ngLoader.product[i]" [items]="divisionProducts[i]" id="product_{{i}}"
                        formControlName="product" bindLabel="materialName" bindValue="materialName"
                        [closeOnSelect]="true" [clearable]="false" [(ngModel)]="formItems.product[i]"
                        placeholder="Material" appendTo="body" style="width: 150px;" (change)="searchBatch($event, i)"
                        class="ngscustom">
                        <ng-option *ngFor="let product of divisionProducts[i]" [value]="product.material">
                          {{product.materialName}}
                        </ng-option>
                      </ng-select>

                      <div class="ng_loader" *ngIf="ngLoader.product[i]" style="width: 150px;">
                        <img src="./../../../assets/images/btn_loader.gif">
                      </div>

                      <input type="hidden" formControlName="productId" [(ngModel)]="formItems.productId[i]" />
                    </td>
                    <td>
                      <ng-select *ngIf="!ngLoader.batch[i]" [items]="batches[i]" id="batch_{{i}}"
                        formControlName="batch" bindLabel="batch" bindValue="batch" [closeOnSelect]="true"
                        [clearable]="false" [(ngModel)]="formItems.batch[i]" placeholder="Batch" appendTo="body"
                        style="width: 120px;" (change)="searchBatchPrice($event, i)" class="ngscustom">
                        <ng-option *ngFor="let batch of batches[i]" [value]="batch.batch">
                          {{batch.batch}}
                        </ng-option>
                      </ng-select>

                      <div class="ng_loader" *ngIf="ngLoader.batch[i]" style="width: 120px;">
                        <img src="./../../../assets/images/btn_loader.gif">
                      </div>
                    </td>
                    <td>
                      <input type="text" id="mrp_{{i}}" formControlName="mrp" [(ngModel)]="formItems.mrp[i]"
                        class="form-control" style="width: 85px;" required readonly />
                    </td>
                    <td>
                      <input type="text" id="pts_{{i}}" formControlName="pts" [(ngModel)]="formItems.pts[i]"
                        class="form-control" style="width: 85px;" required readonly />
                    </td>
                    <td>
                      <input type="text" id="billingRate_{{i}}" formControlName="billingRate"
                        [(ngModel)]="formItems.billingRate[i]" (keyup)="changeCalculation($event, i, 'billingRate')"
                        (blur)="changeCalculation($event, i, 'billingRate')" class="form-control"
                        style="width: 85px;" />
                    </td>
                    <td>
                      <input type="text" id="freeQuantity_{{i}}" formControlName="freeQuantity"
                        [(ngModel)]="formItems.freeQuantity[i]" (keyup)="changeCalculation($event, i, 'freeQuantity')"
                        (blur)="changeCalculation($event, i, 'freeQuantity')" class="form-control" style="width: 85px;"
                        [readOnly]="ngLoader.freeQuantity[i]" />
                    </td>
                    <td>
                      <input type="text" id="saleQuantity_{{i}}" formControlName="saleQuantity"
                        [(ngModel)]="formItems.saleQuantity[i]" (keyup)="changeCalculation($event, i, 'saleQuantity')"
                        (blur)="changeCalculation($event, i, 'saleQuantity')" class="form-control"
                        style="width: 85px;" />
                    </td>
                    <td>
                      <input type="text" id="difference_{{i}}" formControlName="difference"
                        [(ngModel)]="formItems.difference[i]" class="form-control" style="width: 85px;" readonly />
                    </td>
                    <td>
                      <input type="text" id="totalDifference_{{i}}" formControlName="totalDifference"
                        [(ngModel)]="formItems.totalDifference[i]" class="form-control" style="width: 85px;" readonly />
                    </td>
                    <td>
                      <input type="text" id="amount_{{i}}" formControlName="amount" [(ngModel)]="formItems.amount[i]"
                        class="form-control" style="width: 85px;" readonly />
                    </td>
                    <td class="tc" style="min-width: 60px; max-width: 60px; color: #6610f2; font-size: 18px;">
                      <input type="file" class="file-input" [accept]="requiredFileType"
                        (change)="onFileSelected($event, i)" #fileUpload multiple style="display: none;">
                      <i class="pe-7s-cloud-upload np-icon" (click)="fileUpload.click()" placement="bottom"
                        ngbTooltip="Upload image/PDF"></i>

                      <i class="vsm-icon pe-7s-camera np-icon" placement="bottom" ngbTooltip="Camera"
                        (click)="openWebcam($event, i,webcammodal)"></i>
                    </td>
                    <td class="tc" style="min-width: 85px; max-width: 85px;">
                      <div *ngIf="fileNames[i]">
                        <span *ngFor="let fn of fileNames[i]">
                          <i class="pe-7s-paperclip" placement="bottom" ngbTooltip="{{fn.originalname}}"></i>
                        </span>
                      </div>
                    </td>
                    <td class="tc" style="min-width: 60px; max-width: 60px; font-size: 17px;">
                      <span placement="bottom" ngbTooltip="Add to this invoice"
                        (click)="addSameInvoice(i)" (keyup.enter)="addSameInvoice(i)">
                        <i class="vsm-icon pe-7s-copy-file np-icon"></i>
                      </span>

                      <span *ngIf="i" placement="bottom" ngbTooltip="Delete" style="color:red;">
                        <i class="vsm-icon pe-7s-trash np-icon" (click)="removeClaim(i)"></i>
                      </span>
                    </td>
                  </tr>
                </div>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div class="row" style="margin: 40px 0 60px 0;">
        <div class="col-sm-12 col-md-6" style="font-weight: 600;">
          Total Amount: {{totalAmount}}
        </div>
        <div class="col-sm-12 col-md-6" style="text-align: right;">
          <button type="button" (click)="addClaims()" class="btn btn-primary">Add New Invoice</button>&nbsp;
          <button *ngIf="!btnLoader" style="width: 125px;" type="submit" class="btn btn-success">Save as Draft</button>
          <button *ngIf="btnLoader" type="button" class="mt-1 btn btn-transition m_lr"
            style="color: #033C73; border-color: #73A839; cursor:inherit; font-weight: 600;">
            <span class="me-2 opacity-7"><img src="./../../assets/images/btn_loader.gif"></span>
            <span class="me-1">Please Wait ...</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--webcam modal-->
<div class="col-md-4">
  <div class="card-body">
    <ng-template #webcammodal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Snapshot</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">
        </button>
      </div>
      <div class="modal-body" id="content">
        <div class="row">
          <div class="col-md-6">
            <!-- <div id="left"> -->
            <webcam [height]="376" [width]="376" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"></webcam>
            <!-- </div> -->
          </div>
          <div class="col-md-6">
            <!-- <div id="right"> -->
            <div class="snapshot" *ngIf="webcamImage">
              <img [src]="webcamImage.imageAsDataUrl" />
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="triggerSnapshot();">Take A Snapshot</button>
      </div>
    </ng-template>
  </div>
</div>
<!--webcam modal end-->