.fb {
    font-weight: 600;
}

.tc {
    text-align: center;
}

.td-head {
    font-weight: 600;
    text-align: center;
    background: #EFEFEF;
    border: dashed 1px lightblue;
    padding: 3px 0;
    float: left;
}

td,
th {
    /* min-width: 50px; */
    height: 25px;
    border: dashed 1px lightblue;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 100px; */
}

.ng_loader {
    border: 1px solid #ced4da;
    height: 35px;
    border-radius: 5px;
    padding: 4px;
}

.np-icon {
    font-weight: 600;
    cursor: pointer;
    margin: 0 3px;
}

.invalid {
    border: 1px solid #c71c22;
    border-radius: 3px;
}

.snapshot {
    text-align: center;

    img {
        max-width: 100%;
    }
}
