<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading" style="width: 50%;">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-heading" style="width: 50%;">
      <div class="tc" id="headLoader"
        style="display: none; font-size: 14px; font-weight: 600; color: #FF0013; letter-spacing: 1px;">
        <img src="./../../../assets/images/btn_loader.gif" /><br />
        Processing... Please wait!
      </div>
    </div>
  </div>
</div>

<div id="pageLoader"
  style="position: absolute; width: 100%; height: 100%; background-color: #F1F4F6; z-index: 1; opacity: 0.5; display: none;">
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3 col-sm-12 cpdlr">
        <label for="distributor" class="form-label fb">Distributor</label>
        <ng-select class="custom" id="distributor" [(ngModel)]="selectedFields.distributor"
          (change)="filterData($event, 'distributor')" [clearable]="false" style="display: none;">
          <ng-option *ngFor="let distributor of userDistributors" [value]="distributor.plant">
            {{distributor.plant}} - {{distributor.organization | titlecase}}
          </ng-option>
        </ng-select>
        <span id="err_distributor" class="text-danger" style="display: none;"></span>
        <div id="distributor_loader">
          <img class="m8" src="./../../../assets/images/btn_loader.gif">
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 cpdlr">
        <label for="stockiest" class="form-label fb">
          Stockiest
          <span *ngIf="selectedFields.stockiest" style="color: orange; font-size: 12px;">
            <span *ngIf="selectedFields.stockiest == 1">(Self)</span>
            <span *ngIf="selectedFields.stockiest != 1">({{selectedFields.stockiest}})</span>
          </span>
        </label>
        <ng-select class="custom" id="stockiest" [(ngModel)]="selectedFields.stockiest"
          (change)="filterData($event, 'stockiest')" [clearable]="false" style="display: none;">
          <ng-option *ngFor="let stockiest of stockiests" [value]="stockiest.customerId">{{stockiest.organization |
            titlecase}}</ng-option>
        </ng-select>
        <span id="err_stockiest" class="text-danger" style="display: none;"></span>
        <div id="stockiest_loader">
          <img class="m8" src="./../../../assets/images/btn_loader.gif">
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 cpdlr">
        <label for="type" class="form-label fb">Claim Type</label>
        <ng-select class="custom" id="type" [(ngModel)]="selectedFields.type" (change)="filterData($event, 'type')"
          [clearable]="false">
          <ng-option [value]="0"> -- All -- </ng-option>
          <ng-option *ngFor="let type of types" [value]="type.id">{{type.name | titlecase}}</ng-option>
        </ng-select>
        <span id="err_type" class="text-danger" style="display: none;"></span>
      </div>
      <div class="col-lg-2 col-sm-12 cpdlr">
        <label for="division" class="form-label fb">Division
          <span id="divisionCode" style="color: orange; font-size: 12px;"></span>
        </label>
        <ng-select class="custom" id="division" [(ngModel)]="selectedFields.division"
          (change)="filterData($event, 'division')" [clearable]="false">
          <ng-option [value]="0"> -- All -- </ng-option>
          <ng-option *ngFor="let division of divisions" [value]="division.division">{{division.name |
            titlecase}}</ng-option>
        </ng-select>
      </div>
      <div class="col-lg-1 col-sm-12 cpdlr">
        <label for="month" class="form-label fb">Month</label>
        <ng-select class="custom" id="month" [(ngModel)]="selectedFields.month"
          (change)="validateMonth($event, 'month')" [clearable]="false">
          <ng-option *ngFor="let month of months" [value]="month.id">{{month.name}}</ng-option>
        </ng-select>
        <span id="err_month" class="text-danger" style="display: none;"></span>
      </div>
      <div class="col-lg-1 col-sm-12 cpdlr">
        <label for="year" class="form-label fb">Year</label>
        <ng-select class="custom" id="year" [(ngModel)]="selectedFields.year" (change)="validateMonth($event, 'year')"
          [clearable]="false">
          <ng-option *ngFor="let year of years" [value]="year.id">{{year.name}}</ng-option>
        </ng-select>
        <span id="err_year" class="text-danger" style="display: none;"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 cpdlr">
        <hr />
      </div>
      <div *ngIf="loading" class="col-md-12 cpdlr tc" style="color: red;">
        <img src="./../../assets/images/btn_loader.gif"> <br /> Loading...Please wait
      </div>
      <div *ngIf="!showData" class="col-md-12 cpdlr tc" style="color: red;">
        No record found!
      </div>
    </div>

    <div class="row" *ngIf="!loading && showData">
      <div class="col-sm-12 col-md-12 cpdlr">
        <div class="table-responsive">
          <table class="table" id="table1">
            <tr>
              <th class="td-head">SNo.</th>
              <th class="td-head">Status</th>
              <th class="td-head">Attachment</th>
              <th class="td-head">Claim Type</th>
              <th class="td-head">Ref. No.</th>
              <th class="td-head">Division</th>
              <th class="td-head">Product</th>
              <th class="td-head">Material</th>
              <th class="td-head">Batch</th>
              <th class="td-head">MRP</th>
              <th class="td-head">PTS</th>
              <th class="td-head">Billing Rate</th>
              <th class="td-head">Margin</th>
              <th class="td-head">Free QTY</th>
              <th class="td-head">Sale QTY</th>
              <th class="td-head">Difference</th>
              <th class="td-head">Total Diff.</th>
              <th class="td-head">Amount</th>
              <!-- <th class="td-head"
                  *ngIf="sessionData['workType'] === 'field' || (sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === ''))"> -->
              <th class="td-head"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                Particulars</th>
              <th class="td-head"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                Category</th>
              <th class="td-head"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                Supply Proof</th>
              <th class="td-head"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                Pur. Order</th>
              <th class="td-head">Actions</th>
            </tr>
            <tr class="border-bottom tc" style="height: 35px;" *ngFor="let record of tempRecords; let i=index">
              <td class="border-right tc">
                <div *ngIf="sessionData['type'] === 'field' && sessionData['workType'] === 'suh'" class="custom-checkbox custom-control form-check" style="padding: 0px 0 0 30px; min-height: auto;">
                  <input *ngIf="record.ftStatus == 1" type="checkbox" class="form-check-input selectedId" name="language" id="language{{i}}" value="{{record._id}}" [checked]="false" (change)="changeCheckbox($event)">
                </div>  
                {{i + 1}}
              </td>
              <td class="border-right tc">
                <div class="fl" *ngIf="sessionData['type'] === 'ho' && sessionData['workType'] === 'ho1'">
                  <div *ngIf="record.ftStatus === 1" placement="bottom" ngbTooltip="Accepted by FT"
                    class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.ftStatus === 2" placement="bottom" ngbTooltip="Rejected by FT"
                    class="legend-bullet mlr8 fl rejected"></div>

                  <div *ngIf="record.suhStatus === 1" placement="bottom" ngbTooltip="Accepted by SUH"
                    class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.suhStatus === 2" placement="bottom" ngbTooltip="Rejected by SUH"
                    class="legend-bullet mlr8 fl rejected"></div>

                  <div *ngIf="record.hoStatus === 1" placement="bottom" ngbTooltip="Accepted by HO"
                    class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.hoStatus === 2" placement="bottom" ngbTooltip="Rejected by HO"
                    class="legend-bullet mlr8 fl rejected"></div>

                  <div *ngIf="record.ho1Status === 1" id="def_approvedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Accepted" class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.ho1Status === 2" id="def_unapprovedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Rejected" class="legend-bullet mlr8 fl rejected"></div>

                  <div id="approvedIcon_{{record._id}}" placement="bottom" ngbTooltip="Accepted"
                    class="legend-bullet mlr8 fl approved" style="display: none;"></div>
                  <div id="unapprovedIcon_{{record._id}}" placement="bottom" ngbTooltip="Rejected"
                    class="legend-bullet mlr8 fl rejected" style="display: none;"></div>
                </div>

                <div class="fl"
                  *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                  <div *ngIf="record.ftStatus === 1" placement="bottom" ngbTooltip="Accepted by FT"
                    class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.ftStatus === 2" placement="bottom" ngbTooltip="Rejected by FT"
                    class="legend-bullet mlr8 fl rejected"></div>

                  <div *ngIf="record.suhStatus === 1" placement="bottom" ngbTooltip="Accepted by SUH"
                    class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.suhStatus === 2" placement="bottom" ngbTooltip="Rejected by SUH"
                    class="legend-bullet mlr8 fl rejected"></div>

                  <div *ngIf="record.hoStatus === 1" id="def_approvedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Accepted" class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.hoStatus === 2" id="def_unapprovedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Rejected" class="legend-bullet mlr8 fl rejected"></div>

                  <div id="approvedIcon_{{record._id}}" placement="bottom" ngbTooltip="Accepted"
                    class="legend-bullet mlr8 fl approved" style="display: none;"></div>
                  <div id="unapprovedIcon_{{record._id}}" placement="bottom" ngbTooltip="Rejected"
                    class="legend-bullet mlr8 fl rejected" style="display: none;"></div>
                </div>

                <div class="fl" *ngIf="sessionData['type'] === 'field' && sessionData['workType'] === 'suh'">
                  <div *ngIf="record.ftStatus === 1" placement="bottom" ngbTooltip="Accepted by FT"
                    class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.ftStatus === 2" placement="bottom" ngbTooltip="Rejected by FT"
                    class="legend-bullet mlr8 fl rejected"></div>

                  <div *ngIf="record.suhStatus === 1" id="def_approvedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Accepted" class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.suhStatus === 2" id="def_unapprovedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Rejected" class="legend-bullet mlr8 fl rejected"></div>

                  <div id="approvedIcon_{{record._id}}" placement="bottom" ngbTooltip="Accepted"
                    class="legend-bullet mlr8 fl approved" style="display: none;"></div>
                  <div id="unapprovedIcon_{{record._id}}" placement="bottom" ngbTooltip="Rejected"
                    class="legend-bullet mlr8 fl rejected" style="display: none;"></div>
                </div>

                <div class="fl" *ngIf="sessionData['type'] === 'field' && sessionData['workType'] === 'field'">
                  <div *ngIf="record.ftStatus === 1" id="def_approvedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Accepted" class="legend-bullet mlr8 fl approved"></div>
                  <div *ngIf="record.ftStatus === 2" id="def_unapprovedIcon_{{record._id}}" placement="bottom"
                    ngbTooltip="Rejected" class="legend-bullet mlr8 fl rejected"></div>

                  <div id="approvedIcon_{{record._id}}" placement="bottom" ngbTooltip="Accepted"
                    class="legend-bullet mlr8 fl approved" style="display: none;"></div>
                  <div id="unapprovedIcon_{{record._id}}" placement="bottom" ngbTooltip="Rejected"
                    class="legend-bullet mlr8 fl rejected" style="display: none;"></div>
                </div>
              </td>
              <td class="border-right">
                <div *ngIf="record.files">
                  <span *ngFor="let fn of record.files" style="margin:0 2px; cursor: pointer;">
                    <i class="pe-7s-paperclip fb" placement="bottom" ngbTooltip="{{fn.originalFilename}}"
                      (click)="viewPopup(details, fn, record.invoice, record._id)"></i>
                  </span>
                </div>
              </td>
              <td class="border-right tc">{{record.claimType | titlecase}}</td>
              <td class="border-right tc">{{record.invoice}}</td>
              <td class="border-right tal">{{record.divisionName | titlecase}}</td>
              <td class="border-right tal">{{record.materialName | titlecase}}</td>
              <td class="border-right tc">{{record.batchDetail[0].material}}</td>
              <td class="border-right tc">{{record.batch}}</td>
              <td class="border-right tc">
                <div *ngIf="sessionData['workType'] === 'ho1' || sessionData['type'] === 'field'">
                  {{record.mrp | number : '1.2-2'}}
                </div>

                <div *ngIf="(sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')) 
                  && (!record.batchDetail[0].mrp2 && !record.batchDetail[0].mrp3 && !record.batchDetail[0].mrp4)">
                  {{record.mrp | number : '1.2-2'}}
                </div>
                
                <div *ngIf="(sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')) 
                  && (record.batchDetail[0].mrp2 || record.batchDetail[0].mrp3 || record.batchDetail[0].mrp4)">
                  <span id="err_batchMrp_{{record._id}}" style="color: #FF0013;">
                    {{record.mrp | number : '1.2-2'}}
                  </span>
                  <img src="./../../../assets/images/question.png" class="question"
                    (click)="showMrp(record.batchDetail, record.material, record._id)">
                  <input type="hidden" id="batchMrp_selected_{{record._id}}" value="0">
                </div>
              </td>
              <td class="border-right tc">
                <div id="pts_{{record._id}}">{{record.pts | number : '1.2-2'}}</div>
              </td>
              <td class="border-right tc">{{record.billingRate | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.margin}}</td>
              <td class="border-right tc">{{record.freeQuantity | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.saleQuantity}}</td>
              <td class="border-right tc">{{record.difference | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.totalDifference | number : '1.2-2'}}</td>
              <td class="border-right tc">{{record.amount | number : '1.2-2'}}</td>
              <td class="border-right"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                <div class="inputcontainer">
                  <input type="text" class="form-control tc" id="particulars_{{record._id}}"
                    value="{{record.particulars}}" (keyup)="searchParticulars($event, record._id)"
                    placeholder="Enter Particulars" style="width:160px;" />
                  <div class="icon-container" id="particulars_loader_{{record._id}}">
                    <i class="loader"></i>
                  </div>
                </div>

                <div class="suggestions" id="particulars_suggestion_{{record._id}}"
                  (click)="particularsSelection($event, record._id)" style="left: 52%; display: none;">
                  <ul></ul>
                </div>
              </td>
              <td class="border-right"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                <div class="inputcontainer">
                  <input type="text" class="form-control tc" id="category_{{record._id}}" value="{{record.category}}"
                    (keyup)="searchCategory($event, record._id)" placeholder="Enter Category" style="width:120px;" />
                  <div class="icon-container" id="category_loader_{{record._id}}">
                    <i class="loader"></i>
                  </div>
                </div>

                <div class="suggestions" id="category_suggestion_{{record._id}}"
                  (click)="categorySelection($event, record._id)" style="left: 61%; display: none;">
                  <ul></ul>
                </div>
              </td>
              <td class="border-right"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                <div class="position-relative" style="padding: 0px;">
                  <select id="sproof_{{record._id}}" class="form-select">
                    <option value="" disabled selected> - - </option>
                    <option *ngIf="record.supplyProof == 'yes'" value="yes" selected>Yes</option>
                    <option *ngIf="record.supplyProof != 'yes'" value="yes">Yes</option>
                    <option *ngIf="record.supplyProof == 'no'" value="no" selected>No</option>
                    <option *ngIf="record.supplyProof != 'no'" value="no">No</option>
                  </select>
                  <div class="icon-container" id="sproof_loader_{{record._id}}">
                    <i class="loader"></i>
                  </div>
                </div>
              </td>
              <td class="border-right"
                *ngIf="sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                <div class="position-relative" style="padding: 0px;">
                  <select id="porder_{{record._id}}" class="form-select">
                    <option value="" disabled selected> - - </option>
                    <option *ngIf="record.purchaseOrder == 'yes'" value="yes" selected>Yes</option>
                    <option *ngIf="record.purchaseOrder != 'yes'" value="yes">Yes</option>
                    <option *ngIf="record.purchaseOrder == 'no'" value="no" selected>No</option>
                    <option *ngIf="record.purchaseOrder != 'no'" value="no">No</option>
                    <option *ngIf="record.purchaseOrder == 'na'" value="na" selected>N/A</option>
                    <option *ngIf="record.purchaseOrder != 'na'" value="na">N/A</option>
                  </select>
                  <div class="icon-container" id="porder_loader_{{record._id}}">
                    <i class="loader"></i>
                  </div>
                </div>
              </td>
              <td class="tc">
                <span style="padding: 0px;"
                  *ngIf="record.hoStatus === 1 && sessionData['type'] === 'ho' && sessionData['workType'] === 'ho1'">
                  <span class="option-icon pe-7s-check iconpe_green" placement="bottom" ngbTooltip="Accept"
                    (click)="validateApproval(record, 'Approve')"></span>
                  <span class="option-icon pe-7s-close-circle iconpe_red" placement="bottom" ngbTooltip="Reject"
                    (click)="validateApproval(record, 'Unapprove')"></span>
                </span>

                <span style="padding: 0px;"
                  *ngIf="record.suhStatus === 1 && sessionData['type'] === 'ho' && (sessionData['workType'] === null || sessionData['workType'] === '')">
                  <span class="option-icon pe-7s-check iconpe_green" placement="bottom" ngbTooltip="Accept"
                    (click)="validateApproval(record, 'Approve')"></span>
                  <span class="option-icon pe-7s-close-circle iconpe_red" placement="bottom" ngbTooltip="Reject"
                    (click)="validateApproval(record, 'Unapprove')"></span>
                  <span class="option-icon pe-7s-edit iconpe_blue" placement="bottom" ngbTooltip="Edit"
                    (click)="editRecord(record)"></span>
                </span>

                <span style="padding: 0px;"
                  *ngIf="record.ftStatus === 1 && sessionData['type'] === 'field' && (sessionData['workType'] === 'suh')">
                  <span class="option-icon pe-7s-check iconpe_green" placement="bottom" ngbTooltip="Accept"
                    (click)="validateFoApproval(record, 'Approve')"></span>
                  <span class="option-icon pe-7s-close-circle iconpe_red" placement="bottom" ngbTooltip="Reject"
                    (click)="validateFoApproval(record, 'Unapprove')"></span>
                </span>

                <span style="padding: 0px;"
                  *ngIf="sessionData['type'] === 'field' && (sessionData['workType'] === 'field')">
                  <span class="option-icon pe-7s-check iconpe_green" placement="bottom" ngbTooltip="Accept"
                    (click)="validateFoApproval(record, 'Approve')"></span>
                  <span class="option-icon pe-7s-close-circle iconpe_red" placement="bottom" ngbTooltip="Reject"
                    (click)="validateFoApproval(record, 'Unapprove')"></span>
                  <span class="option-icon pe-7s-edit iconpe_blue" placement="bottom" ngbTooltip="Edit"
                    (click)="editRecord(record)"></span>
                </span>

                <img style="padding: 0 0px 8px 0px; margin: 0 0px 0px 2px; cursor: pointer;"
                  *ngIf="record.ftUpdateComment || record.hoUpdateComment || record.ftStatus === 2 || record.suhStatus === 2 || record.hoStatus === 2 || record.ho1Status === 2"
                  src="./../../../assets/images/message.png" placement="bottom" ngbTooltip="Comments"
                  (click)="comments(record)">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="!loading && showData && sessionData['type'] === 'field' && sessionData['workType'] === 'suh'" class="row" style="font-weight: 600;">
      <div class="col-md-2">
        <div class="custom-checkbox custom-control form-check">
          <input type="checkbox" class="form-check-input" name="selectall" id="selectall" (change)="toggleCheckboxAll($event)" style="margin: 11px 5px 0 -15px;">
          <label for="selectall" class="form-label form-check-label" style="cursor: pointer; margin: 8px 0 0 0;">Select/Deselect All</label>
        </div>
      </div>
      <div class="col-md-10">
        <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="acceptAll()">Accept Selected Claims</button>
        <!-- <button type="button" class="btn btn-warning" (click)="rejectAll()">Reject selected claims</button> -->
      </div>
    </div>

    <!-- TO show total records on the bottom of the page -->
    <div *ngIf="!loading && showData" class="row" style="font-weight: 600; margin-top: 20px;">
      <div class="col-md-6 col-sm-6">
        Records: {{tempRecords.length}}
      </div>
      <div class="col-md-6 col-sm-6 tar">
        Total Amount: {{totalAmount | number : '1.2-2'}}
      </div>
    </div>

    <!-- View image popup -->
    <ng-template #details let-c="close" let-d="dismiss" style="width: 1000px;">
      <div class="modal-header">
        <h4 class="modal-title">Attachment of invoice `{{clickedFile.invoice}}`</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 tc" style="min-height: 200px;">
            <pdf-viewer *ngIf="pdfSource" [src]="pdfSource" [original-size]="false"></pdf-viewer>
            <img *ngIf="!pdfSource" src="{{apiURL}}/uploads/files/{{clickedFile.filename}}" style="max-width: 100%;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="mt-1 btn btn-warning" (click)="newTab(clickedFile)" style="padding: 6px 30px;">Open
          in new tab</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')"
          style="padding: 6px 30px;">Close</button>
      </div>
    </ng-template>

    <!-- Upload image popup -->
    <ng-template #uploads let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Upload on invoice</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 tc">
            <input type="file" class="file-input" [accept]="requiredFileType"
              (change)="onFileSelected($event, uploadFile)" #fileUpload multiple>
            <!-- <button type="button" class="btn-transition btn btn-outline-focus" (click)="fileUpload.click()"
              [tabIndex]="9">Attach File</button> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="mt-1 btn btn-success" (click)="confirmBoxDeleteFile(clickedFile)"
          style="padding: 6px 30px;">Upload</button>

        <button type="button" class="btn btn-secondary" (click)="c('Close click')"
          style="padding: 6px 30px;">Close</button>
      </div>
    </ng-template>

    <!-- Update Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Update Claim</h2>
          <span class="close" (click)="closeEditModal()">&times;</span>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_distributor" class="form-label fb">Distributor</label>
                <select id="edit_distributor" class="form-select" (change)="getStockiest_edit()">
                  <option value="" disabled hidden selected> -- Distributor -- </option>
                  <option *ngFor="let distributor of userDistributors" [value]="distributor.plant">
                    {{distributor.plant}} - {{distributor.organization | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_stockiest" class="form-label fb">Stockiest</label>
                <select id="edit_stockiest" class="form-select" [tabIndex]="1" (change)="validateClaim()">
                  <option value="" disabled hidden selected> -- Stockiest -- </option>
                  <option *ngFor="let stockiest of stockiests" [value]="stockiest.customerId">
                    {{stockiest.organization | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_type" class="form-label fb">Claim Type</label>
                <select id="edit_type" class="form-select" [tabIndex]="2" (change)="validateClaim()">
                  <option value="" disabled selected> -- Claim Type -- </option>
                  <option *ngFor="let type of types" [value]="type.id">
                    {{type.name | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_month" class="form-label fb">Month</label>
                <select id="edit_month" class="form-select" [tabIndex]="3" (change)="validateClaim()">
                  <option value="" disabled selected> -- Month -- </option>
                  <option *ngFor="let month of months" [value]="month.id">
                    {{month.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="position-relative mb-3 required">
                <label for="edit_year" class="form-label fb">Year</label>
                <select id="edit_year" class="form-select" [tabIndex]="4" (change)="validateClaim()">
                  <option value="" disabled selected> -- Year -- </option>
                  <option *ngFor="let year of years" [value]="year.id">
                    {{year.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table" id="table1">
              <tr>
                <th class="td-head">Ref. No.</th>
                <th class="td-head">Division</th>
                <th class="td-head">Product</th>
                <!-- <th class="td-head">Material</th> -->
                <th class="td-head">Batch</th>
                <th class="td-head">MRP</th>
                <th class="td-head">PTS</th>
                <!-- <th class="td-head">Margin</th> -->
                <th class="td-head">Billing Rate</th>
                <th class="td-head">Free QTY</th>
                <th class="td-head">Sale QTY</th>
                <th class="td-head">Difference</th>
                <th class="td-head">Total Diff.</th>
                <th class="td-head">Amount</th>
              </tr>
              <tr>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_invoice" [tabIndex]="5"
                    (change)="validateClaim()" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_division" (keyup)="searchDivision($event)" />
                  <img style="float:right;" id="edit_division_loader" src="./../../../assets/images/btn_loader.gif"
                    style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                  <div class="suggestions" id="edit_division_suggestion" (click)="divisionSelection($event)"
                    style="display: none;">
                    <ul></ul>
                  </div>

                  <input type="hidden" id="edit_division_id" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_product" (keyup)="searchProduct($event)" />
                  <img style="float:right;" id="edit_product_loader" src="./../../../assets/images/btn_loader.gif"
                    style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                  <div class="suggestions" id="edit_product_suggestion" (click)="productSelection($event)"
                    style="left: 18%; display: none;">
                    <ul></ul>
                  </div>

                  <input type="hidden" id="edit_material" />
                </td>
                <!-- <td>
                  <input type="text" class="form-control grf-am" id="edit_material" disabled />
                </td> -->
                <td>
                  <input type="text" class="form-control grf-am" id="edit_batch" [tabIndex]="6"
                    (keyup)="searchBatch($event)" autocomplete="off" />

                  <img style="float:right;" id="edit_batch_loader" src="./../../../assets/images/btn_loader.gif"
                    style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                  <div class="suggestions" id="edit_batch_suggestion" (click)="batchSelection($event)"
                    style="left: 26%; display: none;">
                    <ul></ul>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_mrp" disabled />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_pts" disabled />
                  <input type="hidden" class="form-control grf-am" id="edit_ptr" />
                  <input type="hidden" class="form-control grf-am" id="edit_ptd" />
                  <input type="hidden" class="form-control grf-am" id="edit_margin" />
                </td>
                <!-- <td>
                  <input type="text" class="form-control grf-am" id="edit_margin" [tabIndex]="8"
                    (keyup)="changeCalculation($event)" />
                </td> -->
                <td>
                  <input type="text" class="form-control grf-am" id="edit_billingRate" [tabIndex]="7"
                    (keyup)="changeCalculation($event)" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_freeQuantity" [tabIndex]="9"
                    (keyup)="changeCalculation($event)" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_saleQuantity" [tabIndex]="10"
                    (keyup)="changeCalculation($event)" />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_difference" disabled />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_totalDifference" disabled />
                </td>
                <td>
                  <input type="text" class="form-control grf-am" id="edit_amount" [tabIndex]="11" disabled />
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <input type="hidden" class="form-control" id="edit_id" value="" />
          <input type="hidden" class="form-control grf-am" id="edit_error" value="0" />
          <input type="hidden" class="form-control" id="edit_hoStatus" value="0" />
          <button type="button" class="btn btn-success" [tabIndex]="12" (click)="updateClaim()"> Update </button>
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeEditModal()"> Close </button>
        </div>
      </div>
    </div>

    <!-- Update Comment/Reason popup -->
    <div id="updateModalComment" class="modal">
      <div class="modal-content" style="width: 380px; margin:auto;">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Reason for update</h2>
          <span class="close" (click)="closeUpdateCommentModal()">&times;</span>
        </div>
        <div class="modal-body" style="padding-top: 22px;">
          <div class="row">
            <div class="col-md-12">
              <div class="position-relative mb-3 required">
                <textarea id="update_comments" name="update_comments" rows="4" cols="50"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <button type="button" class="btn btn-success" [tabIndex]="12" (click)="updateCommentClaim()"> Update Now
          </button>
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeUpdateCommentModal()"> Close
          </button>
        </div>
      </div>
    </div>

    <!-- Un-approved Comment/Reason popup -->
    <div id="myModalComment" class="modal">
      <div class="modal-content" style="width: 380px; margin:auto;">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Reason for rejection</h2>
          <span class="close" (click)="closeCommentModal()">&times;</span>
        </div>
        <div class="modal-body" style="padding-top: 22px;">
          <div class="row">
            <div class="col-md-12">
              <input type="hidden" id="comments_id" value="">
              <input type="hidden" id="comments_batch" value="">
              <input type="hidden" id="comments_customerId" value="">

              <div class="position-relative mb-3 required">
                <!-- <label for="edit_stockiest" class="form-label fb">Stockiest</label> -->
                <textarea id="comments" name="comments" rows="4" cols="50"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <button type="button" class="btn btn-success" [tabIndex]="12" (click)="rejectClaim()"> Submit </button>
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeCommentModal()"> Close </button>
        </div>
      </div>
    </div>

    <!-- View Comments popup -->
    <div id="modalComments" class="modal">
      <div class="modal-content" style="width: 500px; margin:auto;">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Comment / Reason</h2>
          <span class="close" (click)="closeCommentsModal()">&times;</span>
        </div>
        <div class="modal-body" style="padding-top: 18px;">
          <div class="row">
            <table style="overflow-x: hidden; overflow-y: auto; max-height: 330px;">
              <tr>
                <th style="padding: 0 0 0 5px; text-align: center; width: 20%;">Reason</th>
                <th style="padding: 0 0 0 5px; width: 80%">Message</th>
              </tr>
              <tr *ngIf="clickedRecord.ftUpdateComment">
                <td style="padding: 0 0 0 5px; text-align: center;">Updated<br>by FT</td>
                <td style="padding: 0 0 0 5px;">{{clickedRecord.ftUpdateComment}}</td>
                <!-- <td style="padding: 0 0 0 5px; text-align: center;">FT</td> -->
              </tr>
              <tr *ngIf="clickedRecord.ftStatus === 2">
                <td style="padding: 0 0 0 5px; text-align: center;">Un-approved<br>by FT</td>
                <td style="padding: 0 0 0 5px;">{{clickedRecord.ftApprovalComment}}</td>
              </tr>
              <tr *ngIf="clickedRecord.suhStatus === 2">
                <td style="padding: 0 0 0 5px; text-align: center;">Un-approved<br>by SUH</td>
                <td style="padding: 0 0 0 5px;">{{clickedRecord.suhApprovalComment}}</td>
              </tr>
              <tr *ngIf="clickedRecord.hoUpdateComment">
                <td style="padding: 0 0 0 5px; text-align: center;">Updated<br>by HO</td>
                <td style="padding: 0 0 0 5px;">{{clickedRecord.hoUpdateComment}}</td>
              </tr>
              <tr *ngIf="clickedRecord.hoStatus === 2">
                <td style="padding: 0 0 0 5px; text-align: center;">Un-approved<br>by HO</td>
                <td style="padding: 0 0 0 5px;">{{clickedRecord.hoApprovalComment}}</td>
              </tr>
              <tr *ngIf="clickedRecord.ho1Status === 2">
                <td style="padding: 0 0 0 5px; text-align: center;">Un-approved<br>by HO1</td>
                <td style="padding: 0 0 0 5px;">{{clickedRecord.ho1ApprovalComment}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeCommentsModal()"> Close
          </button>
        </div>
      </div>
    </div>

    <!-- Invoice allocation popup (Self) -->
    <div id="modalSelf" class="modal">
      <div class="modal-content" style="width: 500px; margin:auto;">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Invoice/Quantity Status</h2>
          <span class="close" (click)="closeCommentsModal()">&times;</span>
        </div>
        <div class="modal-body" style="padding-top: 18px;">
          <div class="row">
            <table style="width: 720px; overflow-x: auto;">
              <tr style="font-weight: 600; height: 50px;">
                <td class="tc" style="width: 120px;">Distributor<br>Invoice No.</td>
                <td class="tc" style="width: 120px;">Distributor<br>Invoice QTY.</td>
                <td class="tc" style="width: 120px;">Distributor<br>Remn. QTY.</td>
                <td class="tc" style="width: 120px;">Total Sale QTY.</td>
              </tr>
              <tr *ngFor="let allotment of allotedHoInvoiceQty" style="height: 30px;">
                <td class="tc">{{allotment.distInvoice}}</td>
                <td class="tc">{{allotment.distInvQty}}</td>
                <td class="tc">{{allotment.distRemnQty}}</td>
                <td class="tc">{{allotment.totalSaleQuantity}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <button type="button" class="btn btn-success" (click)="approveSelf()"> Approve </button>
          <button type="button" class="btn btn-danger" (click)="closeSelfPopup()"> Close </button>
        </div>
      </div>
    </div>

    <!-- Invoice allocation popup (Stockist) -->
    <div class="modal" tabindex="-1" role="dialog" style="display:{{displayStyle}}">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="stockistMod" style="width: 755px; margin:auto;">
          <div class="modal-header">
            <h4 class="modal-title">Invoice/Quantity Status</h4>
          </div>
          <div class="modal-body">
            <!-- <p style="text-align: center; letter-spacing: 0.5px;">
              <b>80</b> out of <b>100</b> quantities are being allotted.
            </p> -->
            <table style="width: 720px; overflow-x: auto;">
              <tr style="font-weight: 600; height: 50px;">
                <td class="tc" style="width: 120px;" *ngIf="allotedHoInvoiceQty[0]">Distributor<br>Invoice No.</td>
                <td class="tc" style="width: 120px;" *ngIf="allotedHoInvoiceQty[0]">Distributor<br>Invoice QTY.</td>
                <td class="tc" style="width: 120px;">Stockiest<br>Invoice No.</td>
                <td class="tc" style="width: 120px;">Stockiest<br>Invoice QTY.</td>
                <td class="tc" style="width: 120px;">Stockiest Remn.<br>Invoice QTY.</td>
                <td class="tc" style="width: 120px;">Total Sale QTY.</td>
              </tr>
              <tr *ngFor="let allotment of allotedInvoiceQty" style="height: 30px;">
                <td class="tc" *ngIf="allotedHoInvoiceQty[0]">{{allotedHoInvoiceQty[0].distInvoice}}</td>
                <td class="tc" *ngIf="allotedHoInvoiceQty[0]">{{allotedHoInvoiceQty[0].distInvQty}}</td>
                <td class="tc">{{allotment.stkInvoice}}</td>
                <td class="tc">{{allotment.stkInvoiceQty}}</td>
                <td class="tc">{{allotment.stkRemnQty}}</td>
                <td class="tc">{{allotment.totalSaleQuantity}}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="approve()"> Approve </button>
            <button type="button" class="btn btn-danger" (click)="closePopup()"> Close </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments popup -->
    <div id="modalBatchPrice" class="modal">
      <div class="modal-content" style="width: 435px; margin:auto;">
        <div class="modal-header" style="padding: 5px 15px;">
          <h2 style="font-size: 20px;">Batch MRP</h2>
          <span class="close" (click)="closeBatchPriceModal()">&times;</span>
        </div>
        <div class="modal-body" style="padding-top: 18px;">
          <div class="row">
            <input type="hidden" id="batchMrp_id" value="">
            <table style="overflow-x: hidden; margin-bottom: 15px;">
              <tr>
                <th style="padding: 0 0 0 5px; text-align: center; width: 25%;">Sl.No</th>
                <th style="padding: 0 0 0 5px; text-align: center; width: 25%;">#</th>
                <th style="padding: 0 0 0 5px; text-align: center;  width: 25%">MRP</th>
                <th style="padding: 0 0 0 5px; text-align: center;  width: 25%">PTS</th>
              </tr>
              <tr *ngFor="let batchPrice of batchPrices; let i=index">
                <td style="padding: 0 0 0 5px; text-align: center;">{{i+1}}</td>
                <td style="padding: 0 0 0 5px; text-align: center;">
                  <input name="batchMrp" type="radio" class="form-check-input" value="{{i}}">
                </td>
                <td style="padding: 0 0 0 5px; text-align: center;">
                  {{batchPrice.mrp | number : '1.2-2'}}
                </td>
                <td style="padding: 0 0 0 5px; text-align: center;">
                  {{batchPrice.pts | number : '1.2-2'}}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer" style="padding: 5px 15px;">
          <button type="button" class="btn btn-success" (click)="confirmBatchPrice()"> Confirm </button>
          <button type="button" class="btn btn-danger" [tabIndex]="13" (click)="closeBatchPriceModal()"> Close
          </button>
        </div>
      </div>
    </div>