<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <!-- <div class="page-title-actions">
      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success">
        <fa-icon [icon]="faPlus" class="me-2"></fa-icon>
        Create New
      </button>
    </div> -->
  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <div id="errmsg" style="color:red; font-size:15px; margin-bottom:5px; text-align:center; display:none;"></div>
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
        
        <div class="col-md-4 offset-md-4">
          <div class="position-relative mb-3 required">
            <label for="old" class="form-label">Current Password</label>
            <input type="text" class="form-control" id="old" formControlName="old" placeholder="Current Password">
            <span class="text-danger" *ngIf="(f.old.touched || submitted) && f.old.errors?.required">
              Current Password is required.
            </span>
          </div>
        </div>

        <div class="col-md-4 offset-md-4">
          <div class="position-relative mb-3 required">
            <label for="new" class="form-label">New Password</label>
            <input type="text" class="form-control" id="new" formControlName="new" placeholder="New Password">
            <span class="text-danger" *ngIf="(f.new.touched || submitted) && f.new.errors?.required">
              New Password is required.
            </span>
          </div>
        </div>

        <div class="col-md-4 offset-md-4">
          <div class="position-relative mb-3 required">
            <label for="confirm" class="form-label">Confirm Password</label>
            <input type="text" class="form-control" id="confirm" formControlName="confirm" placeholder="Confirm Password">
            <span class="text-danger" *ngIf="(f.confirm.touched || submitted) && f.confirm.errors?.required">
              Confirm Password is required.
            </span>
          </div>
        </div>
        
        <div class="col-md-4 offset-md-4" style="text-align: center;">
          <button *ngIf="!btnLoader" type="submit" class="mt-1 btn btn-success" style="padding: 6px 30px;">Submit</button>
          <button *ngIf="btnLoader" type="submit" class="mt-1 btn btn-success disabled" style="padding: 6px 30px;">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>