<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="icon {{icon}}"></i>
        </div>
        <div>
          {{heading}}
          <div class="page-title-subheading">
            {{subheading}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main-card mb-3 card">
    <div class="card-body">
        <form>
      <!-- <form class="form" [formGroup]="myForm" (ngSubmit)="onHeaderSubmit()" autocomplete="off"> -->
      <div class="row">
        <div class="position-relative mb-3 required">
        <!--Using ng-option and for loop-->
        <label for="stockiest" class="form-label fb">Stockiest</label>
<!-- <ng-select [(ngModel)]="selectedCar">
    <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
 </ng-select> -->

        <ng-select
            [items]="cars"
            [multiple]="true"
            bindLabel="name"
            class="form-control"
            [selectableGroup]="true"
            [closeOnSelect]="false"
            bindValue="id"
            [(ngModel)]="selectedCar">
        
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
            </ng-template>
            </ng-select>
 </div>

        <!-- <div class="col-md-3">
          <div class="position-relative mb-3 required">
            <label for="stockiest" class="form-label fb">Stockiest</label>
            <select id="stockiest" class="form-select" style="display: none;">
              <option value="" disabled hidden selected> -- Stockiest -- </option>
              <option *ngFor="let stockiest of stockiests" [value]="stockiest.customerId">
                {{stockiest.organization | titlecase}}
              </option>
            </select>
            <span id="err_stockiest" class="text-danger" style="display: none;"></span>
            <div id="stockiest_loader">
              <img class="m8" src="./../../../assets/images/btn_loader.gif">
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-3">
          <div class="position-relative mb-3 required">
            <label for="type" class="form-label fb">Claim Type</label>
            <select id="type" class="form-select">
              <option value="" disabled selected> -- Claim Type -- </option>
              <option *ngFor="let type of types" [value]="type.id">
                {{type.name | titlecase}}
              </option>
            </select>
            <span id="err_type" class="text-danger" style="display: none;"></span>
          </div>
        </div> -->
        <!-- <div class="col-md-3">
          <div class="position-relative mb-3 required">
            <label for="month" class="form-label fb">Month</label>
            <select id="month" class="form-select" (change)="validateMonth()">
              <option value="" disabled selected> -- Month -- </option>
              <option *ngFor="let month of months" [value]="month.id">
                {{month.name}}
              </option>
            </select>
            <span id="err_month" class="text-danger" style="display: none;"></span>
          </div>
        </div> -->
        <!-- <div class="col-md-3">
          <div class="position-relative mb-3 required">
            <label for="year" class="form-label fb">Year</label>
            <select id="year" class="form-select" (change)="validateMonth()">
              <option value="" disabled selected> -- Year -- </option>
              <option *ngFor="let year of years" [value]="year.id">
                {{year.name}}
              </option>
            </select>
            <span id="err_year" class="text-danger" style="display: none;"></span>
          </div>
        </div> -->
      </div>
      <!-- </form> -->
    </form>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
  
      <div class="row claim-frm">
        <form  enctype="multipart/form-data" autocomplete="off">
          
          <div class="row">
            <div class="col-md-12 tar">
              <button type="button"  class="mt-1 btn btn-info m_lr" [tabIndex]="100000">Add New
                User</button>
                
              <!-- <button type="submit" class="mt-1 btn btn-success m_lr" style="padding: 6px 30px;">Save
                as Draft</button>
              <button  type="button" class="mt-1 btn btn-transition m_lr"
                style="color: #033C73; border-color: #73A839; cursor:inherit; font-weight: 600;">
                <span class="me-2 opacity-7"><img src="./../../assets/images/btn_loader.gif"></span>
                <span class="me-1">Please Wait ...</span>
              </button> -->
            </div>
          </div>
        </form>
      </div>