<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="distributor" class="form-label fb">Distributor</label>
          <select id="distributor" class="form-select" (change)="getStockiest()" style="display: none;">
            <option value="" disabled hidden selected> -- Distributor -- </option>
            <option *ngFor="let distributor of userDistributors" [value]="distributor.plant">
              {{distributor.plant}} - {{distributor.organization | titlecase}}
            </option>
          </select>
          <span id="err_distributor" class="text-danger" style="display: none;"></span>
          <div id="distributor_loader">
            <img class="m8" src="./../../../assets/images/btn_loader.gif">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="stockiest" class="form-label fb">Stockiest</label>
          <select id="stockiest" class="form-select" style="display: none;">
            <option value="" disabled hidden selected> -- Stockiest -- </option>
            <option *ngFor="let stockiest of stockiests" [value]="stockiest.customerId">
              {{stockiest.organization | titlecase}}
            </option>
          </select>
          <span id="err_stockiest" class="text-danger" style="display: none;"></span>
          <div id="stockiest_loader">
            <img class="m8" src="./../../../assets/images/btn_loader.gif">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="type" class="form-label fb">Claim Type</label>
          <select id="type" class="form-select">
            <option value="" disabled selected> -- Claim Type -- </option>
            <option *ngFor="let type of types" [value]="type.id">
              {{type.name | titlecase}}
            </option>
          </select>
          <span id="err_type" class="text-danger" style="display: none;"></span>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="month" class="form-label fb">Month</label>
          <select id="month" class="form-select" (change)="validateMonth()">
            <option value="" disabled selected> -- Month -- </option>
            <option *ngFor="let month of months" [value]="month.id">
              {{month.name}}
            </option>
          </select>
          <span id="err_month" class="text-danger" style="display: none;"></span>
        </div>
      </div>
      <div class="col">
        <div class="position-relative mb-3 required">
          <label for="year" class="form-label fb">Year</label>
          <select id="year" class="form-select" (change)="validateMonth()">
            <option value="" disabled selected> -- Year -- </option>
            <option *ngFor="let year of years" [value]="year.id">
              {{year.name}}
            </option>
          </select>
          <span id="err_year" class="text-danger" style="display: none;"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr />
      </div>
    </div>

    <div class="row claim-frm">
      <form [formGroup]="claimForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" autocomplete="off">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="table-responsive">
              <table class="table" id="table1">
                <tr>
                  <td class="td-head required"><label class="form-label grid-label">Invoice No</label></td>
                  <td class="td-head">Division</td>
                  <td class="td-head required"><label class="form-label grid-label">Product</label></td>
                  <td class="td-head required"><label class="form-label grid-label">Batch</label></td>
                  <!-- <td class="td-head">Particulars</td> -->
                  <td class="td-head">MRP</td>
                  <td class="td-head">PTS</td>
                  <!-- <td class="td-head">Margin (%)</td> -->
                  <td class="td-head required"><label class="form-label grid-label">Billing Rate</label></td>
                  <td class="td-head required"><label class="form-label grid-label">Free QTY</label></td>
                  <td class="td-head required"><label class="form-label grid-label">Sale QTY</label></td>
                  <td class="td-head">Difference</td>
                  <td class="td-head">Total Diff.</td>
                  <td class="td-head">Amount</td>
                  <td class="td-head">Image</td>
                  <td class="td-head">Attachments</td>
                  <!-- <td class="td-head">Options</td> -->
                </tr>

                <!-- DEFAULT / FIRST ROW OF THE COLUMNS -->
                <tr>
                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_invoice" id="invoice_def"
                      [tabIndex]="1" />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_division" id="division_def"
                      (keyup)="searchDivision($event, -1)" [tabIndex]="2" />

                    <img style="float:right;" id="division_loader_def" src="./../../../assets/images/btn_loader.gif"
                      style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                    <div class="suggestions" id="division_suggestion_def" (click)="divisionSelection($event, -1)"
                      style="display: none;">
                      <ul></ul>
                    </div>

                    <input type="hidden" class="form-control" formControlName="def_divisionId" id="division_id_def" />
                    <input type="hidden" class="form-control" formControlName="def_plantId" id="plant_id_def" />
                  </td>

                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_product" id="product_def"
                      (keyup)="searchProduct($event, -1)" [tabIndex]="3" />

                    <img style="float:right;" id="product_loader_def" src="./../../../assets/images/btn_loader.gif"
                      style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                    <div class="suggestions" id="product_suggestion_def" (click)="productSelection($event, -1)"
                      style="display: none;">
                      <ul></ul>
                    </div>

                    <input type="hidden" class="form-control" formControlName="def_productId" id="product_id_def" />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_batch" id="batch_def"
                      (keyup)="searchBatch($event, -1)" [tabIndex]="2" />

                    <img style="float:right;" id="batch_loader_def" src="./../../../assets/images/btn_loader.gif"
                      style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                    <div class="suggestions" id="batch_suggestion_def" (click)="batchSelection($event, -1)"
                      style="display: none;">
                      <ul></ul>
                    </div>
                  </td>
                  <!-- <td class="tdpd1">
                    <input type="text" class="form-control" formControlName="def_division" id="division_def" readonly />
                  </td> -->
                  <!-- <td class="tdpd1">
                    <input type="text" class="form-control" formControlName="def_product" id="product_def" readonly />
                  </td> -->

                  <!-- <td class="tdpd1">
                    <input type="text" class="form-control" formControlName="def_division" id="division_def"
                      (keyup)="searchDivision($event, -1)" [tabIndex]="3" />

                    <img style="float:right;" id="division_loader_def" src="./../../../assets/images/btn_loader.gif"
                      style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                    <div class="suggestions" id="division_suggestion_def" (click)="divisionSelection($event, -1)"
                      style="display: none;">
                      <ul></ul>
                    </div>
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_product" id="product_def"
                      (keyup)="searchProduct($event, -1)" [tabIndex]="4" />

                    <img style="float:right;" id="product_loader_def" src="./../../../assets/images/btn_loader.gif"
                      style="position: absolute; margin: -35px 0 0 65px; display: none;" />

                    <div class="suggestions" id="product_suggestion_def" (click)="productSelection($event, -1)"
                      style="display: none;">
                      <ul></ul>
                    </div>
                  </td> -->
                  <!-- <td class="tdpd1">
                    <input type="text" class="form-control" formControlName="def_particulars" id="particulars_def"
                      [tabIndex]="5" />
                  </td> -->
                  <td class="tdpd1">
                    <input type="text" class="form-control tc" formControlName="def_mrp" id="mrp_def" readonly />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control tc" formControlName="def_pts" id="pts_def" readonly />
                    <input type="hidden" id="ptr_def" />
                    <input type="hidden" id="ptd_def" />
                  </td>
                  <!-- <td class="tdpd1">
                    <input type="text" class="form-control tc" formControlName="def_margin" id="margin_def" readonly />
                  </td> -->
                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_billingRate"
                      id="billingRate_def" (keyup)="changeCalculation($event, -1)" [tabIndex]="6" />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_freeQuantity"
                      id="freeQuantity_def" (keyup)="changeCalculation($event, -1)" [tabIndex]="7" />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control grf-def" formControlName="def_saleQuantity"
                      id="saleQuantity_def" (keyup)="changeCalculation($event, -1)" [tabIndex]="8" />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control tc" formControlName="def_difference" id="difference_def"
                      readonly />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control tc" formControlName="def_totalDifference"
                      id="totalDifference_def" readonly />
                  </td>
                  <td class="tdpd1">
                    <input type="text" class="form-control tc" formControlName="def_amount" id="amount_def" readonly />
                  </td>
                  <td class="tc">
                    <input type="file" class="file-input" [accept]="requiredFileType"
                      (change)="onFileSelected($event, -1)" #fileUpload multiple style="display: none;">
                    <button type="button" class="btn-transition btn btn-outline-focus" (click)="fileUpload.click()"
                      [tabIndex]="9">Attach File</button>
                  </td>
                  <td class="tc">
                    <div *ngIf="fileNames[-1]">
                      <span *ngFor="let fn of fileNames[-1]">
                        <i class="pe-7s-paperclip" placement="bottom" ngbTooltip="{{fn.originalname}}"></i>
                      </span>
                    </div>
                  </td>
                  <!-- <td class="tdpd1" style="text-align: center;">
                    <span title="Add to this invoice" [tabIndex]="10" (click)="addSameInvoice(-1)" (keyup.enter)="addSameInvoice(-1)">
                      <i class="vsm-icon pe-7s-copy-file"></i>
                    </span>
                  </td> -->
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 tar">
            <!-- <button type="button" class="mt-1 btn btn-info m_lr" (click)="addNewInvoice()" [tabIndex]="100000">Add New
              Invoice</button> -->
            <button *ngIf="!btnLoader" type="submit" class="mt-1 btn btn-success m_lr" style="padding: 6px 30px;">Save
              as Draft</button>
            <button *ngIf="btnLoader" type="button" class="mt-1 btn btn-transition m_lr"
              style="color: #033C73; border-color: #73A839; cursor:inherit; font-weight: 600;">
              <span class="me-2 opacity-7"><img src="./../../assets/images/btn_loader.gif"></span>
              <span class="me-1">Save as Draft</span>
            </button>
          </div>
        </div>
      </form>
    </div>