<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="icon {{icon}}"></i>
            </div>
            <div>
                {{heading}}
                <div class="page-title-subheading">
                    {{subheading}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <form class="form" [formGroup]="distForm" (ngSubmit)="onSubmit()" autocomplete="off"
            enctype="multipart/form-data">
            <div class="position-relative row mb-3 required">
                <label for="organization" class="form-label col-sm-2 col-form-label">Organization Name</label>
                <div class="col-sm-10">
                    <input class="form-control" formControlName="organization" id="organization"
                        placeholder="Organization Name" type="text">
                    <span id="err_organization" class="text-danger" style="display: none;"></span>
                </div>
            </div>

            <div class="position-relative row mb-3 common required">
                <label for="Company" class="form-label col-sm-2 col-form-label">Company</label>
                <div class="col-sm-10">
                    <select id="company" class="form-select" formControlName="company">
                        <option value="" disabled selected> Company </option>
                        <option *ngFor="let c of company" [value]="c.id">
                            {{c.name}}
                        </option>
                    </select>
                    <span id="err_company" class="text-danger" style="display: none;"></span>
                </div>
            </div>
            <div class="position-relative row mb-3 common required">
                <label for="plant" class="form-label col-sm-2 col-form-label">Plant</label>
                <div class="col-sm-10">
                    <input class="form-control grf-def" formControlName="plant" id="plant" placeholder="Plant"
                        type="number" required>
                    <span id="err_plant" class="text-danger" style="display: none;"></span>
                </div>
            </div>
            <div class="position-relative row mb-3 required">
                <label for="customer" class="form-label col-sm-2 col-form-label">Customer ID</label>
                <div class="col-sm-10">
                    <input class="form-control grf-def" formControlName="customerId" id="customerid"
                        placeholder="Customer ID" type="number" required>
                    <span id="err_customerid" class="text-danger" style="display: none;"></span>
                </div>
            </div>
            <div class="position-relative row mb-3 required">
                <label for="Status" class="form-label col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <select id="status" class="form-select" formControlName="status">
                        <option value="" disabled selected> Status </option>
                        <option *ngFor="let s of status" [value]="s.id">
                            {{s.name}}
                        </option>
                    </select>
                    <span id="err_status" class="text-danger" style="display: none;"></span>
                </div>
            </div>
            <div class="position-relative row form-check">
                <div class="col-sm-10 offset-sm-2">
                    <button class="mt-1 btn btn-primary" type="submit">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>